*{
    padding: 0;
    margin: 0;
}
.principal{
    width: 100vw;
    height: 100vh;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(29,184,253,1) 50%, rgba(23,97,204,1) 87%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    color: white;
    animation: disappear 1s 4s forwards;
}
@keyframes disappear{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.displayN{
    display: none;
}
#LogoVimo1{
    animation: down .5s ease-out forwards;
    opacity: 0;
}
@keyframes down{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    20%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.principal p{
    opacity: 0;
    font-size: 50px;
    animation: downp .5s ease-out 0.5s forwards;
}
@keyframes downp{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    20%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.counter{
    opacity: 0;
    font-size: 200px;
    font-weight: 300;
    text-shadow: 0px 0px 5px rgba(23,97,204,1);
    animation: downc .5s ease-out 1s forwards;
}
@keyframes downc{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    20%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
header{
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,94,195,1) 100%);
    position: relative;
    user-select: none;
}
.seconds{
    color: white;
    font-size: 7rem;
}
#velo{
    width: 150px;
    height: 150px;
}
section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.maze{
    margin-top: 1rem;
    width: 54%;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}
#reset{
    position: absolute;
    z-index: 3;
    left: 45%;
}
.reset{
    display: none;
}
.container{
    margin-left: 1rem;
    width: 95.7%;
    height: 23rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.win{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left: 42%;
}
#win{
    width: 100px;
    height: 50px;
    user-select: none;
}
.f1{
    width: 1rem;
    height: 41%;
    position: absolute;
    top: 38%;
    right: 21%;
}
.f2{
    width: 41%;
    height: 1rem;
    position: absolute;
    top: 75%;
    right: 21%;
}
.f3{
    width: 1rem;
    height: 20%;
    position: absolute;
    top: 0%;
    right: 38%;
}
.f4{
    width: 40%;
    height: 1rem;
    position: absolute;
    top: 60%;
    right: 40%;
}
.f5{
    width: 1rem;
    height: 78%;
    position: absolute;
    top: 0;
    left: 20%;
}
.f6{
    width: 20%;
    height: 1rem;
    position: absolute;
    top: 38%;
    right: 21%;
}
.f7{
    width: 1rem;
    height: 26%;
    position: absolute;
    top: 38%;
    right: 38%;
}
.f8{
    width: 43%;
    height: 1rem;
    position: absolute;
    top: 19%;
    right: 19%;
}
.f9{
    width: 1rem;
    height: 21%;
    position: absolute;
    top: 19%;
    left: 38%;
}
.line{
    width: 1rem;
    height: 95%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 100%);
    position: absolute;
    z-index: 2;
}
.l2{
    right: 0;
}
.l3{
    width: 40%;
    height: 1rem;
    bottom: 0;
}
.l4{
    width: 40%;
    height: 1rem;
    right: 0;
    bottom: 0;
}
.l5{
    width: 40%;
    height: 1rem;
    top: 0;
}
.l6{
    width: 40%;
    height: 1rem;
    right: 0;
    top: 0;
}
.l7{
    width: 1rem;
    height: 78%;
    top: 0;
    left: 20%;
}
.l8{
    width: 40.2%;
    height: 1rem;
    left: 20%;
    top: 60%;
}
.l9{
    width: 1rem;
    height: 20%;
    left: 58%;
    top: 0;
}
.l10{
    width: 43%;
    height: 1rem;
    left: 38%;
    top: 19%;
}
.l11{
    width: 41%;
    height: 1rem;
    left: 38%;
    top: 75%;
}
.l12{
    width: 1rem;
    height: 24%;
    left: 58%;
    top: 40%;
}
.l13{
    width: 1rem;
    height: 20%;
    left: 38%;
    top: 20%;
}
.l14{
    width: 21%;
    height: 1rem;
    left: 58%;
    top: 38%;
}
.l15{
    width: 1rem;
    height: 41%;
    left: 76.9%;
    top: 38%;
}
.object{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(23,97,204,1);
    position: absolute;
    bottom: 0;
    left: 48%;
}
.message{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 550;
}
.anim{
    scale: .5;
    opacity: 0;
    animation: endP 1s ease-in-out forwards;
}
.arrow{
    transform: translateY(10px);
    animation: arrow 1.2s ease-in-out infinite forwards;
}
.opacity{
    animation: opacity 1s ease-out forwards;
}
.end{
    animation: endF 1.5s ease-in-out forwards;
}
#flagEnd{
    height: 200px;
    width: 200px;
    transform: rotateZ(45deg);
    animation: flagWiggle 4s ease-in-out infinite;
}
.screenEnd{
    height: 100vh;
    width: 100vw;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(29,184,253,1) 50%, rgba(23,97,204,1) 87%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sEnd{
    animation: screenEnd 1s ease-in-out forwards;
    gap: 120px;
    opacity: 0;
}
.displayN{
    display: none;
}
.countEnd{
    font-size: 100px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 0px 5px rgba(23,97,204,1);
}
.countDis{
    opacity: 0;
}
@keyframes endP{
    0%{
        scale: .5;
        opacity: 0;
    }
    35%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        scale: 1;
        opacity: 1;
    }
}
@keyframes endF{
    0%{
        scale: 1;
        opacity: 1;
    }
    30%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        scale: 0;
        opacity: 0;
    }
}
@keyframes arrow{
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes opacity{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes screenEnd{
    0%{
        opacity: 0;
        gap: 120px;
    }
    10%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        gap: 50px;
    }
}
@keyframes flagWiggle{
    0%{
        transform: rotateY(-180deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(-180deg);
    }
}
/* PVT test */
/* pvt count */
.principal-pvt{
    width: 100vw;
    height: 100vh;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(29,184,253,1) 50%, rgba(23,97,204,1) 87%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
    text-align: center;
    color: white;
    animation: endFade 1s ease-in-out 4s forwards;
}
.pvt-end{
    animation: endPvt 1s ease-in-out forwards;
}
.content-prin{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 100px;
    color: white;
    opacity: 0;
    animation: fadePvt 1s ease-in-out forwards;
}
#LogoVimo-pvt img{
    bottom: 30px;
}
.principal-pvt p{
    width: 50%;
    font-size: 50px;
}
#count-pvt{
    top: 60%;
    color: white;
    font-size: 200px;
    font-weight: 300;
    text-shadow: 0px 1px 5px rgba(23,97,204,1);
    position: absolute;
    z-index: 1;
    animation: countUp 1s ease-out forwards;
}
.pvtN{
    display: none;
}
@keyframes endFade{
    0%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fadePvt{
    0%{
        gap: 100px;
        opacity: 0;
    }
    100%{
        gap: 50px;
        opacity: 1;
    }
}
@keyframes countUp{
    0%{
        top: 0%;
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        top: 50%;
        opacity: 1;
    }
}
/* pvt count */
.header{
    width: 100vw;
    height: 10%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,94,195,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    user-select: none;
}
#secondsPvt{
    color: white;
    font-size: 7rem;
}
/* pvt buttons */
.game-buttons{
    width: 100vw;
    height: 72.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#road{
    width: 100vw;
    height: 72.8vh;
    position: absolute;
    z-index: -1;
}
.game-buttons img{
    width: 150px;
    height: 150px;
    cursor: pointer;
    user-select: none;
}
.green-buttons{
    transform: translateX(13rem);
    animation: buttonsLeft .3s ease-in-out forwards;
    opacity: 0;
}
@keyframes buttonsLeft{
    0%{
        opacity: 0;
        transform: translateX(13rem);
    }
    20%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes endPvt{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* PVT test */
/* RISK RESULT */
.results{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 20px;
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(29,184,253,1) 50%, rgba(23,97,204,1) 87%);
    opacity: 0;
    animation: resultsInit 1s ease-in-out forwards;
}
.main-result{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
#check{
    width: 200px;
    height: 200px;
}
.risk-message{
    text-shadow: 0px 0px 2px rgb(0, 12, 29);
    color: green;
}
.risk{
    font-size: 30px;
    font-weight: 500;
}
.resultN{
    display: none;
}
.resultEnd{
    animation: resultEnd 1s ease-in-out forwards;
}
@keyframes resultsInit{
    0%{
        opacity: 0;
        gap: 20px;
    }
    100%{
        opacity: 1;
        gap: 0;
    }
}
@keyframes resultEnd{
    0%{
        opacity: 1;
        gap: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        gap: 20px;
    }
}
/* RISK RESULT */
@media (max-width: 600px){
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        height: 120px;
        place-items: center;
        position: relative;
    }
    #velo{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 2rem;
        margin-top: -8rem;
        width: 125px;
        height: 125px;
        place-self: start;
        position: absolute;
    }
    #LogoVimo{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-left: 10rem;
        margin-top: -4rem;
        width: 140px;
        height: 40px;
    }
    #seconds{
        grid-column: 1/3;
        grid-row: 1/2;
        margin-top: -4rem;
        margin-left: 3rem;
        width: 80px;
        font-size: 50px;
    }
    section{
        width: 100%;
        height: 200px;
        margin-top: 5rem;
    }
    .container{
        height: 270px;
        width: 329px;
    }
    #win{
        width: 50px;
        height: 25px;
    }
    .maze{
        width: 100%;
        height: 300px;
    }
}