*{
    padding: 0;
    margin: 0;
}
header{
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    position: relative;
}
.seconds{
    color: white;
    font-size: 7rem;
}
#velo{
    width: 150px;
    height: 150px;
}
section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.maze{
    margin-top: 1rem;
    width: 54%;
    height: 400px;
    display: flex;
    align-items: center;
    position: relative;
}
.container{
    margin-left: 1rem;
    width: 95.7%;
    height: 23rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
}
.f1{
    width: 1rem;
    height: 41%;
    position: absolute;
    background-color: brown;
    top: 38%;
    right: 21%;
}
.win{
    position: absolute;
    width: 100px;
    height: 50px;
    top: 0;
    left: 42%;
}
#win{
    width: 100px;
    height: 50px;
}
.line{
    width: 1rem;
    height: 95%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 100%);
    position: absolute;
    z-index: 2;
}
.l2{
    right: 0;
}
.l3{
    width: 40%;
    height: 1rem;
    bottom: 0;
}
.l4{
    width: 40%;
    height: 1rem;
    right: 0;
    bottom: 0;
}
.l5{
    width: 40%;
    height: 1rem;
    top: 0;
}
.l6{
    width: 40%;
    height: 1rem;
    right: 0;
    top: 0;
}
.l7{
    width: 1rem;
    height: 78%;
    top: 0;
    left: 20%;
}
.l8{
    width: 40.2%;
    height: 1rem;
    left: 20%;
    top: 60%;
}
.l9{
    width: 1rem;
    height: 20%;
    left: 58%;
    top: 0;
}
.l10{
    width: 43%;
    height: 1rem;
    left: 38%;
    top: 19%;
}
.l11{
    width: 41%;
    height: 1rem;
    left: 38%;
    top: 75%;
}
.l12{
    width: 1rem;
    height: 24%;
    left: 58%;
    top: 40%;
}
.l13{
    width: 1rem;
    height: 20%;
    left: 38%;
    top: 20%;
}
.l14{
    width: 21%;
    height: 1rem;
    left: 58%;
    top: 38%;
}
.l15{
    width: 1rem;
    height: 41%;
    left: 76.9%;
    top: 38%;
}
.object{
    width: 25px;
    height: 25px;
    background-color: rgba(23,97,204,1);
    position: absolute;
    bottom: 0;
    left: 48%;
}
@media (max-width: 600px){
    header{
        display: grid;
        grid-template-columns: 20px 10px;
        grid-template-rows: 104px auto;
        width: 60%;
        height: 200px;
    }
    #velo{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 80px;
        height: 80px;
    }
    #LogoVimo{
        grid-column: 1/2;
        width: 140px;
        height: 40px;
    }
    #seconds{
        grid-column: 1/3;
        grid-row: 2/3;
        margin-left: 5rem;
        width: 80px;
        font-size: 50px;
    }
    section{
        width: 50%;
    }
    .maze{
        width: 100%;
    }
}